
/**/*.ini

/Example-Codes/*.ini
/Example-Codes/**/*.ini

/Ejecutable/*.ini
/Ejecutable/**/*.ini

/IDE-Triangle/*.ini
/IDE-Triangle/**/*.ini
/IDE-Triangle/build
/IDE-Triangle/build/**
/IDE-Triangle/nbproject
/IDE-Triangle/nbproject/**
/IDE-Triangle/nbproject/private/**
/IDE-Triangle/nbproject/private/private.properties
/IDE-Triangle/dist
/IDE-Triangle/dist/**

/IDE+Triangle/*.ini
/IDE+Triangle/**/*.ini
/IDE+Triangle/build
/IDE+Triangle/build/**
/IDE+Triangle/nbproject
/IDE+Triangle/nbproject/**
/IDE+Triangle/nbproject/private/**
/IDE+Triangle/nbproject/private/private.properties
/IDE+Triangle/dist
/IDE+Triangle/dist/**

/Triangle/*.ini
/Triangle/**/*.ini
/Triangle/build
/Triangle/build/**
/Triangle/nbproject
/Triangle/nbproject/**
/Triangle/nbproject/private/**
/Triangle/nbproject/private/private.properties
/Triangle/dist
/Triangle/dist/**
